certifi==2022.12.7 ; python_version >= "3.8" and python_version < "4"
charset-normalizer==3.0.1 ; python_version >= "3.8" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "4.0" and platform_system == "Windows"
filelock==3.9.0 ; python_version >= "3.8" and python_version < "4.0"
huggingface-hub==0.12.0 ; python_version >= "3.8" and python_version < "4.0"
idna==3.4 ; python_version >= "3.8" and python_version < "4"
numpy==1.24.2 ; python_version >= "3.8" and python_version < "4.0"
nvidia-cublas-cu11==11.10.3.66 ; python_version >= "3.8" and python_version < "4.0" and platform_system == "Linux"
nvidia-cuda-nvrtc-cu11==11.7.99 ; python_version >= "3.8" and python_version < "4.0" and platform_system == "Linux"
nvidia-cuda-runtime-cu11==11.7.99 ; python_version >= "3.8" and python_version < "4.0" and platform_system == "Linux"
nvidia-cudnn-cu11==8.5.0.96 ; python_version >= "3.8" and python_version < "4.0" and platform_system == "Linux"
packaging==23.0 ; python_version >= "3.8" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "4.0"
regex==2022.10.31 ; python_version >= "3.8" and python_version < "4.0"
requests==2.28.2 ; python_version >= "3.8" and python_version < "4"
setuptools==67.2.0 ; python_version >= "3.8" and python_version < "4.0" and platform_system == "Linux"
tokenizers==0.13.2 ; python_version >= "3.8" and python_version < "4.0"
torch==1.13.1 ; python_version >= "3.8" and python_version < "4.0"
torchaudio==0.13.1 ; python_version >= "3.8" and python_version < "4.0"
tqdm==4.64.1 ; python_version >= "3.8" and python_version < "4.0"
transformers==4.26.1 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.8" and python_version < "4.0"
urllib3==1.26.14 ; python_version >= "3.8" and python_version < "4"
wheel==0.38.4 ; python_version >= "3.8" and python_version < "4.0" and platform_system == "Linux"
